.common :global(.cspace-ui-PublicPage--common) :global(.cspace-ui-Logo--common) {
  width: 170px;
}

.common :global(.cspace-ui-Logo--common) {
  width: 90px;
}

.common :global(.cspace-input-Label--common),
.common :global(.cspace-ui-HierarchySiblingList--common) > header {
  font-weight: 600;
}

.common :global(.cspace-layout-Panel--common) :global(.cspace-layout-Panel--common) {
  background-color: rgba(220, 220, 220, .5);
}
